DATABASE_URL=CHAVE DO BANCO DE DADOS NEON

# Chave do GROQ
GROQ_API_KEY=CHAVE API GROQ

# URL do Frontend (para o CORS)
FRONTEND_URL=http://localhost:5173

VITE_API_URL=http://localhost:8000

# SMTP Gmail para envio do link de redefinição de senha
GMAIL_EMAIL=SEU EMAIL GMAIL
GMAIL_APP_PASSWORD=SUA SENHA DE APP DO GMAIL
