node_modules/** linguist-vendor=true
dist/** linguist-vendor=true
build/** linguist-vendor=true
public/** linguist-vendor=true
package-lock.json linguist-generated=true
yarn.lock linguist-generated=true
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.py linguist-detectable=true
