@import "tailwindcss";


:root {
  background-color: #050505;
  color: white;
}
.prose strong {
  color: #eab308;
  font-weight: 800;
}

.prose p {
  margin-bottom: 0.75rem;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1rem;
}